<% name ||= id %>
<% required ||= false %>
<% required_class = required ? ' required' : ' optional' %>
<% value ||= true %>
<div class="form-group string <%= required_class %> <%= id %>">
  <label class="string <%= required_class %> control-label col-sm-3 control-label"><%= label %></label>
  <div class="col-sm-9">
    <label class="radio">
      <input type="radio" value="true" name="<%= name %>" id="<%= id %>_true"<%= value ? ' checked="checked"' : '' %> class="radio_buttons <%= required_class %>"/>
      Yes
    </label>
    <label class="radio">
      <input type="radio" value="false" name="<%= name %>" id="<%= id %>_false"<%= value ? '' : ' checked="checked"' %>  class="radio_buttons <%= required_class %>"/>
      No
    </label>
  </div>
</div>