<%= simple_form_for(@page, html: {class: 'form-horizontal'}, wrapper: :horizontal_form) do |f| %>
  <%= render partial: 'shared/form/error_messages', locals: { resource: @page } %>
  
  <%= f.input :name %>
  <%= f.input :text, as: :text, input_html: {style: 'width: 100%; height:300px;'} %>
  
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <%= f.button :submit %>
    </div>
  </div>
<% end %>