<%= simple_form_for(@project, html: {class: 'form-horizontal'}, wrapper: :horizontal_form) do |f| %>
  <%= render partial: 'shared/form/error_messages', locals: { resource: @project } %>

	<%= f.input :organization_id, collection: current_user.organizations %>
  <%= f.input :product_id, collection: Product.all %>
  <%= f.input :name %>  
  <%= f.input :text, input_html: {style: 'width: 500px; height:300px;'} %>
  <%= f.input :url %>
  
  <%= f.association :areas, as: :check_boxes %>
  
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <%= f.button :submit %>
    </div>
  </div>
<% end %>
