<h3>
  <a name="top">&nbsp;</a>
  <%= @project.name %>
</h3>

<dl class="dl-horizontal">
	<%= show_attribute(:product, title: t("attributes.product"), value: link_to(resource.product.name, product_path(resource.product))) if resource.product.present? %>
  <%= show_associations :user, :organization, :areas %>
  <%= show_actions %>
</dl>

<%= markdown @project.text %>

<%= render 'shared/comments', comment: @project.comments.new %>