<div class="container-fluid">
  <div class="row-fluid">
    <div class="tabs">
      <ul>
        <li><a href="#stories"><%= I18n.t('stories.index.title') %></a></li>
        <li><a href="#tasks"><%= I18n.t('workflow.project_owner.index.tasks') %></a></li>
<% Workflow::ProjectOwnerController.extra_tabs.each do |tab| %>
        <li><a href="#<%= tab %>"><%= I18n.t("#{tab}.index.title") %></a></li>
<% end %>
      </ul>
      <div id="stories">
        <%= render 'stories' %>
      </div>
      <div id="tasks">
        <%= render 'tasks' %>
      </div>
<% Workflow::ProjectOwnerController.extra_tabs.each do |tab| %>
      <div id="<%= tab %>">
        <%= render "workflow/project_owner/#{tab}" %>
      </div>
<% end %>
    </div>  
  </div>
</div>
