<% id ||= field.match(/id="([^"]*)"/)[1] if field.match(/id="([^"]*)"/) %>
<% required ||= false %>
<% required_class = required ? 'required' : 'optional' %>
<div class="form-group string <%= required_class %> <%= id %>">
  <label class="string <%= required_class %> control-label col-sm-3 control-label" for="<%= id %>">
    <% if required %><abbr title="required">*</abbr><% end %> <%= label %>
  </label>
  <div class="col-sm-9">
    <%= field %>
  </div>
</div>
