<%= render_product_specific_partial_if_available(
  resource, 'workflow/tasks/work_head'
) %>

<%= simple_form_for(
  resource, as: :task, url: update_task_workflow_user_index_path(resource), 
  html: {class: 'form-horizontal'}, wrapper_form: :horizontal_form
) do |f| %>
  <%= render_product_specific_partial_if_available(
    resource, 'workflow/tasks/work_form', f: f, resource: resource
  ) %>
  
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <%= f.button :submit %>
   
      <%= f.button :submit, t('workflow.user.general.steps.general.cancel'), name: 'event[cancel]' %>
     
      <%= f.button :submit, t('workflow.user.general.steps.general.skip'), name: 'event[skip]' %>
      
      <%= f.button :submit, t('users.general.events.review'), name: 'event[review]' %>
      
      <%= f.button :submit, t('workflow.user.general.steps.general.next'), name: 'event[next]' %>
    </div>
  </div>
<% end %>