<!DOCTYPE html>
<html>
<head>
  <title><%= (yield(:title).blank? ? '' : yield(:title) + ' - ') + t('layout.title') %></title>
  <meta charset='utf-8'>
  <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag *voluntary_application_stylesheets, media: 'all' %>
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet"/>
</head>
<body>
  <div id="bootstrap_modal" class="modal hide fade"></div>
  
  <section id="dialog">
    <img alt="Ajax-loader-small" class="hide " id="dialog_body_spinner" src="<%=image_path('voluntary/spinner.gif')%>"/>
    <div id="dialog_body"/>
  </section>
  
  <div id="wrap">
    <%= render 'layouts/shared/navigation' %>
    
    <div class="container-fluid">
<% unless flash.empty? %>
      <div class="row-fluid">
        <div class="span12">
          <%= render 'layouts/shared/flash_messages' %>
        </div>
      </div>
<% end %>    
      <div class="row-fluid">
<% if sidenav(@sidenav_links_count).present? || content_for?(:search) || content_for?(:sidebar) %>
        <div class="span9">
  <% if content_for?(:breadcrumbs) %>
          <div class="nav">
            <%= yield :breadcrumbs %>
          </div>
  <% else %>
          <%= breadcrumbs %>
  <% end %>
        
          <%= yield %>
        </div>      
        <div class="span3">
          <%= yield :search %>
          
          <%= sidenav(@sidenav_links_count) %>
          
          <%= yield :sidebar %>
        </div>
<% else %>
        <div class="span12">
          <% if content_for?(:breadcrumbs) %>
            <div class="nav">
              <%= yield :breadcrumbs %>
            </div>
          <% else %>
            <%= breadcrumbs %>
          <% end %>
          
          <%= yield %>
        </div>      
<% end %>
      </div>
    </div>
    <div id="push"></div>
  </div>
  <div id="footer">
    <div class="container">
      <p class="muted credit">
        <!--
        <span>
          <%= raw t(
            'general.footer.credits.twitter_bootstrap', 
            mdo: link_to('@mdo', 'http://Twitter.com/mdo'), fat: link_to('@fat', 'http://Twitter.com/fat'), 
          ) %> 
        </span>
        <br/>
        <span>
          <%= t('general.footer.credits.sticky_footer') %> <a href="http://ryanfait.com/sticky-footer/">Ryan Fait</a>.
        </span>
        <br/>
        -->
        <%= footer_navigation %>
        <br/>
        <span>
          <%= raw t('general.footer.credits.voluntary', link: link_to('Voluntary.Software', 'http://Voluntary.Software')) %>.
        </span>
        <br/>
        <span>
          <%= raw t('general.footer.license', link: link_to('MIT', 'https://github.com/volontariat/voluntary/blob/master/MIT-LICENSE')) %>.
        </span>
        <br/>
      </p>
    </div>
  </div>
    
  <%= javascript_include_tag *voluntary_application_javascripts %>
  <%= yield :javascript_includes %>
  <%= csrf_meta_tags %>
  <%= javascript_tag do %>
    <%= yield :top_javascript %>
    
    $(function() {
      <%= yield(:document_ready) %>
    });
  <% end %>
</body>
</html>